section.menu
    p.section-title-h1 Menu
    .container
        .tabs.tabs-style-tzoid
            nav
                ul.menu-nav-menu
                    li
                        a(href="#section-tzoid-1" title="Starters") Starters
                    li
                        a(href="#section-tzoid-2" title="Main Dishes") Main Dishes
                    li
                        a(href="#section-tzoid-3" title="Desserts") Desserts
                    li
                        a(href="#section-tzoid-4" title="Drinks") Drinks
            .content-wrap
                include ../common/menu-pages/starters
                include ../common/menu-pages/main-dishes
                include ../common/menu-pages/desserts
                include ../common/menu-pages/drinks
