section.our-month-specials
    p.section-title-h1 This month specials
    .container.container-specials
        .row.justify-content-between
            .col
                .row.special-item-wrap
                    .col.special-item
                        img(src="../static/img/dish1.png")
                    .col.item-desc
                        p.title-h2-2_u Greens fava
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 17$
            .col
                .row.special-item-wrap
                    .col.special-item
                        img(src="../static/img/dish2.png")
                    .col.item-desc
                        p.title-h2-2_u Celery quandong
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 30$
            .col
                .row.special-item-wrap
                    .col.special-item
                        img(src="../static/img/dish3.png")
                    .col.item-desc
                        p.title-h2-2_u Pea horseradish
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 25$
        .row
            .col
                .row.special-item-wrap
                    .col.item-desc
                        p.title-h2-2_u Soko radicchio
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 7$
                    .col.special-item
                        img(src="../static/img/dish4.png")
            .col
                .row.special-item-wrap
                    .col.item-desc
                        p.title-h2-2_u Tigernut
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 3$
                    .col.special-item
                        img(src="../static/img/dish5.png")
            .col
                .row.special-item-wrap
                    .col.item-desc
                        p.title-h2-2_u Yarrow sweet
                        p.plain-text Lorem ipsum dolor sit Pellentesque vel enim a
                        p.title-h2-2 5$
                    .col.special-item
                        img(src="../static/img/dish6.png")