.about-us
  position: relative
  background: $greyBg

  .section-title-h1
    margin-top: 250px
    margin-bottom: 50px

  .section-desc
    margin-bottom: 50px

.signature
  margin-bottom: 170px

.green-beans-img
  position: absolute
  left: 0
  top: 0
