.contacts
  position: relative
  padding-top: 70px
  padding-bottom: 33px
  background: $greyBg

  .section-title-h1
    margin-bottom: 30px

  a,
  p
    display: block

  a
    color: $mainColorText

  .col
    padding: 0

  .title-h2-3
    margin-bottom: 20px

  .plain-text
    line-height: 1.5

  form
    .row
      margin-left: 0 !important
      margin-right: 0 !important

    input
      padding: 0 0 16px 20px
      background: $greyBg
      border: none
      border-bottom: 1px solid $mainColorText
      font-size: 1.125em
      font-family: $MerriweatherItalic
      outline: none

.contacts-container
  margin-bottom: 190px

.personal-info
  margin-bottom: 60px

.user-message
  margin-bottom: 50px

.contacts-bg-1
  position: absolute
  top: 0
  left: 0
  width: 55%

.contacts-bg-2
  position: absolute
  top: 0
  right: 0
  width: 10%

.contact-options
  margin: 60px 0 100px 0 !important

.send-btn-wrap
  button
    display: block
    margin: 0 auto
    padding: 16px 28px
    background: $greyBg
    border: 1px solid $mainColorText
    color: $mainColorText
    font-family: $Merriweather-Regular
    font-size: 1/125em
    cursor: pointer

.copyright
  text-align: right

  p
    margin-top: 15px

.social-links
  display: flex

.img-border-box
  display: flex
  align-items: center
  width: 50px
  height: 50px
  border: 0px solid $mainColorText

  &:first-child
    margin-right: 15px

  &:hover
    cursor: pointer
    border: 1px solid $mainColorText
    transition: all 0.7s

  a
    display: block
    margin: 0 auto
