.our-month-specials
  margin-bottom: 107px

  .section-title-h1
    margin-top: 80px
    margin-bottom: 57px

  .container-specials
    width: 1530px

  .special-item-wrap
    display: flex
    flex-direction: row

    .special-item
      padding: 0
      img
        width: 100%
        height: 100%

    .item-desc
      padding: 0
      text-align: center
      background: $specialItemBg

      .title-h2-2_u
        margin-top: 20px
        margin-bottom: 17px
        line-height: 1.125

      .plain-text
        margin: 0 30px 17px 30px
        font-size: 13px
