@media(max-width: 480px)
  .top-nav_btn
    display: block

  .top-nav_menu
    flex-direction: column
    display: none

    li
      line-height: 1.8
      a:hover
        border: none
        transition: none

  .top-nav_menu__active
    display: block
    li
      text-align: right
      a
        padding-bottom: 5px
        padding-right: 0
        margin: 0
        border-bottom: 1px solid $topMenuItemsBorder scale(0)
      a:hover
        border-bottom: 1px solid $topMenuItemsBorder
        transition: all 0.7s

