header
	display: block
	position: absolute
	width: 100%
	top: 0
	z-index: 5

.top-nav_btn
	position: absolute
	display: none
	right: 20px
	top: 20px
	font-size: 20px
	color: $mainColorText
	background: transparent
	border: none
	cursor: pointer

.top-nav_menu
	list-style: none
	display: flex
	margin-top: 53px
	
	li
		a
			font-family: $Merriweather-Regular
			font-size: 1.125em
			color: $mainColorText
			padding: 16px 23px
			border: 1px solid transparent

			&:hover
				border: 1px solid $topMenuItemsBorder
				transition: all 0.7s


			
