.tabs
  position: relative
  overflow: hidden
  margin: 0 auto

  nav
    text-align: center

    .menu-nav-menu
      display: flex
      justify-content: center
      margin: 53px auto 0 auto
      list-style: none

      li
        backface-visibility: hidden
        a
          font-family: $Merriweather-Regular
          font-size: 1.125em
          color: $mainColorText
          padding: 16px 23px
          margin: 0 10px
          border: 1px solid $white

          &:hover
            border: 1px solid $topMenuItemsBorder
            transition: all 0.7s

      .tab-current
        a
          border: 1px solid $topMenuItemsBorder
          transition: all 0.7s

/* Content */
.content-wrap
  position: relative
  display: block
  box-shadow: none
  z-index: 10

.content-wrap
  section
    display: none
    //margin: 0 auto
    text-align: center

  section.content-current
    display: block
    padding: 0

//-------------------------------------------

.tabs-style-tzoid
  overflow: visible

@media screen and (max-width: 54em)
  .tabs-style-tzoid
    nav
      ul
        li
          a
            padding: 0 0.5em 0 0.3em

