.content-wrap
  margin: 85px 0
  color: $mainColorText

  .row
    margin: 0

  .col,
  .col-8,
  .col-4,
  .col-2
    padding: 0

  ul
    list-style: none

    li
      margin-bottom: 47px

  .dish-line-1
    display: flex

    .col-10
      .row
        position: relative

    .col-2
      z-index: 100

    .col-auto,
    .col-2,
    .col-10
      padding: 0

  .dish-name
    text-align: left
    max-width: 98%
    font-family: $MerriweatherLight
    text-transform: uppercase
    font-size: 1.125em

    //&:after
  .dotted-col
    position: absolute
    overflow: hidden
    height: 1.125em //4px
    min-width: 10px
    border-bottom: 1px dotted $mainColorText

  .plain-text
    border-bottom: none

  .dish-ingredients
    font-family: $MerriweatherItalic
    font-size: 14px