extends ../layout/layout

block title
    | Veggie

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block options
    include ../sections/options
block our-month-specials
    include ../sections/our-month-specials
block about-us
    include ../sections/about-us
block menu
    include ../sections/menu
block contacts
    include ../sections/contacts