section#section-tzoid-3.menu-page
    .row.menu-wrap
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Fresh Strawberry Pie
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 7$
                    .row
                        p.dish-ingredients gluten-free crust, filled with sliced strawberries
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Tigernut
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 3$
                    .row
                        p.dish-ingredients a donut with dark chocolate and crashed peckan nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Soko radicchio
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 7$
                    .row
                        p.dish-ingredients cheese cake with mango
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Fresh Fruit Salad
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 8$
                    .row
                        p.dish-ingredients pineapple, strawberries, kiwis, blackberries, yogurt dressing
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Chocolate-Drizzled Peanut Butter
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 5$
                    .row
                        p.dish-ingredients creamy treats with whole grains and healthy nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Lemon Meringue Sandwich Cookies
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 1.5$
                    .row
                        p.dish-ingredients pretty and lemony gluten-free sandwich cookies
