section#section-tzoid-4.menu-page
    .row.menu-wrap
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Yarrow sweet
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 5$
                    .row
                        p.dish-ingredients watermelon, soda, crashed ice
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Blueberry lemonade slushies
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 4$
                    .row
                        p.dish-ingredients fresh strawberries and raspberries, lemonade, ice cubes
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Color-Changing Lemonade Slushies
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 6$
                    .row
                        p.dish-ingredients blue pea flower tea, lemonade, water
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Make-Ahead Smoothie Freezer Packs
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 6$
                    .row
                        p.dish-ingredients strawberries, banana, vanilla almond milk
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Witch Smoothie Bowl
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 10$
                    .row
                        p.dish-ingredients mango, baby spinach, banana, strawberry, whole-milk plain yogurt, chia seeds
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Mistletoe Fizz
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 11$
                    .row
                        p.dish-ingredients Campari, sweet vermouth, Prosecco, fresh cranberries
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Soothing Ginger-Lemon Tea
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 5$
                    .row
                        p.dish-ingredients green tea with lemon, lemon peel, fresh ginger
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Moscow Mule Cocktail
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 7$
                    .row
                        p.dish-ingredients ginger beer, vodka, crushed ice, lime
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Blood Orange Margaritas
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients white tequila, blood orange juice, Triple Sec, kosher salt
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Holiday Spice Punch
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 13$
                    .row
                        p.dish-ingredients rye whiskey, Drambuie, lemon juice
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Rosemary-Ginger French 75
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 7$
                    .row
                        p.dish-ingredients gin, lemon juice, champagne, rosemary-ginger syrop
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Elderflower Champagne Cocktail
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients elderflower liqueur, prosecco, mint leaves
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Honey Buzz Cocktail
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients honey, hot water, gin, grapefruit juice, angostura bitters
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Pomegranate Margaritas
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 17$
                    .row
                        p.dish-ingredients pomegranate juice, Triple Sec, tequila
