section#section-tzoid-2.menu-page
    .row.menu-wrap
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Traditional greek salad
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 8$
                    .row
                        p.dish-ingredients tomatoes, cucumber, green bell pepper, red onion, olives
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Spiralized mediterranean cucumber salad
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 9$
                    .row
                        p.dish-ingredients fresh oregano, cucumber, tomatoes, feta cheese
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Tofu cucumber calad with spicy peanut dressing
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 13$
                    .row
                        p.dish-ingredients tofu, cucumber, cilantro, roasted peanuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Hasselback Tomato Caprese Salad
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 10$
                    .row
                        p.dish-ingredients tomatoes, mozzarella, basil, balsamic glaze
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Southwestern Three-Bean & Barley Soup
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 11$
                    .row
                        p.dish-ingredients black beans, northern beans, kidney beans
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Cream of Mushroom & Barley Soup
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients pearl barley, porcini mushrooms, shallots, celery
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Tofu Ratatouille Kebabs
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 19$
                    .row
                        p.dish-ingredients tomatoes, eggplant, zucchini, pepper, onion
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Quinoa-Stuffed Delicata Squash
                                .col-auto.dotted-col    
                        .col-2
                            p.plain-text 13$
                    .row
                        p.dish-ingredients vessel for serving up this healthy quinoa stuffing