section#section-tzoid-1.menu-page.content-current
    .row.menu-wrap
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Samphire fritters with fennel ceviche
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 19$
                    .row
                        p.dish-ingredients fresh samphire, plain flour, cornflower, eggs, fennel
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Pan fried courgette flowers
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 13$
                    .row
                        p.dish-ingredients courgette flowers, goats cheese, red onion, pine nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 17$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Pan fried courgette flowers
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients courgette flowers, goats cheese, red onion, pine nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 16$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 17$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
        .col.column
            ul.dishes-column
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Samphire fritters with fennel ceviche
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 19$
                    .row
                        p.dish-ingredients fresh samphire, plain flour, cornflower, eggs, fennel
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Pan fried courgette flowers
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 13$
                    .row
                        p.dish-ingredients courgette flowers, goats cheese, red onion, pine nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 17$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Pan fried courgette flowers
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 12$
                    .row
                        p.dish-ingredients courgette flowers, goats cheese, red onion, pine nuts
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 16$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
                li
                    .row.dish-line-1
                        .col-10
                            .row
                                .col-auto
                                    p.dish-name Smoked ricotta terrin
                                .col-auto.dotted-col
                        .col-2
                            p.plain-text 17$
                    .row
                        p.dish-ingredients ricotta, shallots, cheddar, capers
