header
    .container
        .row
            .col
            .col
                button.top-nav_btn
                    i.icon-menu
                ul.top-nav_menu
                    li
                        a(href="#") Home
                    li
                        a(href="#") Specials
                    li
                        a(href="#") About
                    li
                        a(href="#") Menu
                    li
                        a(href="#") Contact